<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>store</title>
</head>
<body>
<div class="hero">
 <section class="layout">
      <ul class="nav">
      <o> THE PRODUCTS AVAILABLE IN OUR STORE ARE - <o><br><br>
        <li> <a href="/store/cars">Cars</a></li><br>
        <li> <a href="/store/tv">TV</a></li><br>
        <li> <a href="/store/nailpolish">Nail Polish</a></li><br>
      </ul>
 </section>
</div>
</body>
</html>